<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> SpotifyDL </h1>
    <form action="/download" method="post">
        <input type="url" name="link" id="link">
        <label for="link">Enter Song/Playlist Url</label>     
        <button type="submit">Download</button>   
    </form>

    <p>This will take 5-10 seconds, please be patient.</p>

</body>
</html>